.whiteLaser {
  z-index: 1 !important;
  display: block !important;
  position: absolute !important;
  width: fit-content !important;
  height: fit-content !important;
  left: 500px;
  top: 500px;
  img {
    width: 200px !important;
    height: 200px !important;
  }
}