nav {
  width: 100%;
  section {
    float: left;

    :first-child {
      margin: 0 !important;
      width: fit-content;
    }
    a {
      float: left;
      padding: 10px;
    }
    a:hover {
      cursor: pointer;
    }
  }
  :first-child {
    margin-right: calc(100vw - 220.8px - 71px); //TODO: Make it smarter
  }
  :last-child {
    margin: 0;
    padding: 0;
    width: 0;
    clear: both;
  }
}
img {
  width: 15.5px !important;
  vertical-align: middle;
}
