@import "./nav.scss";
@import "./color.scss";


body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    height: calc(100vh - 42px);
    position: relative;
    :first-child {
        div, button, :first-child {
            :first-child {
                height: fit-content;
            }
            overflow: scroll;
            position: static;
            float: left;
        }
        :last-child {
            clear: both;
        }
        position: absolute;
        height: 100%;
    }
}

#board {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    height: 100%;
    padding: calc(50vh - 8.95px - 22px) 20px; //TODO: Make it smarter
}
button:hover {
        cursor: pointer;
    }